# .env.example - generated with dotenvx

#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY=""

# ----------------------------------------------------------------------------
PULUMI_ACCESS_TOKEN=
# Azure Service Principal Credentials
# 服务主体: a1d-agent-github-actions
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
AZURE_SUBSCRIPTION_ID=
# ----------------------------------------------------------------------------


POSTGRES_DEV_URL=
POSTGRES_PROD_URL=

# https://openrouter.ai/settings/keys
OPENROUTER_API_KEY=

# MiniMAX
# 来源: huodon@gmail.com
# 额度: $50
MINIMAX_API_KEY=
MINIMAX_GROUP_ID=

# https://dash.302.ai/apis/list
# 账号源: https://www.notion.so/aigc-hacker/302-ai-14562e26c4378065a2cfe0a8a3151342?source=copy_link
X_302_API_KEY=

# r2 read write
# s3 endpoint: https://2da2eb61458c5f71b03602c372d3f703.r2.cloudflarestorage.com
CLOUDFLARE_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_KEY=

# Wavespeed.ai
# 来源: huodong.work@gmail.com
WAVESPEED_API_KEY=


# https://api.huiyan-ai.cn/console/token
# 来源: dongdong
# 价格: 充值 1元=1刀 按分组倍率计费
HUIYAN_A_API_KEY=
HUIYAN_C_API_KEY=
HUIYAN_B_API_KEY=

# https://console.x.ai/
# 来源: huodon@gmail.com
# 额度: $150/月
XAI_API_KEY=

# https://aistudio.google.com/app/prompts/new_chat
# 来源: huodon@gmail.com
GEMINI_API_KEY=

# Vertex.ai
# TODO

# Fal
# 来源: deniffer.001@gmail.com
FAL_API_KEY=


ANTHROPIC_API_KEY=


# Speedpainter
SPEEDPAINTER_API_KEY=

# https://platform.deepseek.com
DEEPSEEK_API_KEY=""


GROQ_API_KEY=


CONVEX_DEPLOYMENT=""
CONVEX_URL=""
